.btn-cart {
    background-color: transparent;
    position: relative;
}
.btn-cart .badge {
position: absolute;
top: -1px;
right: -1px;
}
.dropdown-menu-right{
    right: 0;
    left: auto;
}
.jumbotron-bg{
    background-image: url(https://res.cloudinary.com/grohealth/image/upload/f_auto,fl_lossy,q_auto/v1581688713/DCUK/Content/iStock-938993594-1000x600.jpg);
    background-size: cover;
    position: center center;
    min-width: 400px;

}

.bg-lighter{
    background-color: rgba(255, 255, 255, .4);
}
.box-shadow{
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    transition: box-shadow .3s;
}
.box-shadow:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
}

.btn.disabled{
    pointer-events: none;
}
.alert-rounded{
    border-radius: 50px;
}